@model Motorcycle.Models.Usuario

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar este usuario?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Documento</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DocumentoUsuario)</dd>
                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreUsuario)</dd>
                <dt class="col-sm-4">Apellido</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ApellidoUsuario)</dd>
                <dt class="col-sm-4">Contraseña</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PasswordUsuario)</dd>
                <dt class="col-sm-4">Género</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.GeneroUsuario)</dd>
                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoUsuario)</dd>
                <dt class="col-sm-4">Rol</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdRolNavigation.IdRol)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdUsuario" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
