@model Motorcycle.Models.Fichatecnica

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}


<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar esta ficha técnica?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Fecha de Registro</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaRegistroFichaTecnica)</dd>
                <dt class="col-sm-4">Número de Motor</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroMotorFichaTecnica)</dd>
                <dt class="col-sm-4">Cilindraje</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CilindrajeFichaTecnica)</dd>
                <dt class="col-sm-4">Placa</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PlacaFichaTecnica)</dd>
                <dt class="col-sm-4">Marca</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MarcaFichaTecnica)</dd>
                <dt class="col-sm-4">Chasis</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ChacisFichaTecnica)</dd>
                <dt class="col-sm-4">Modelo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ModeloFichaTecnica)</dd>
                <dt class="col-sm-4">Cliente</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdClienteNavigation.NombreCliente)</dd>
                <dt class="col-sm-4">Usuario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdUsuarioNavigation.NombreUsuario)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdFichaTecnica" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
