@model Motorcycle.Models.Fichatecnica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fichatecnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistroFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistroFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroMotorFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroMotorFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CilindrajeFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CilindrajeFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChacisFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChacisFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloFichaTecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloFichaTecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.NombreUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFichaTecnica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
