@model Motorcycle.Models.Cliente

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar este cliente?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Documento</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DocumentoCliente)</dd>
                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreCliente)</dd>
                <dt class="col-sm-4">Apellido</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ApellidoCliente)</dd>
                <dt class="col-sm-4">Género</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.GeneroCliente)</dd>
                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoCliente)</dd>
                <dt class="col-sm-4">Contraseña</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PassWordCliente)</dd>
                <dt class="col-sm-4">Registro</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RegistroCliente)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdCliente" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
