@model IEnumerable<Motorcycle.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWordCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWordCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroCliente)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdCliente">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCliente">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
