@model Motorcycle.Models.Ordenventum

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar esta orden de venta?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Fecha de Orden</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaOrdenVenta)</dd>
                <dt class="col-sm-4">Valor Total</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ValorTotalVenta)</dd>
                <dt class="col-sm-4">Cliente</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdClienteNavigation.NombreCliente)</dd>
                <dt class="col-sm-4">Estado de la Venta</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdEstadoVentaNavigation.IdEstadoVenta)</dd>
                <dt class="col-sm-4">Usuario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdUsuarioNavigation.NombreUsuario)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdVenta" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
