@model Motorcycle.Models.Citum

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar esta cita?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Fecha de Cita</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaCita)</dd>
                <dt class="col-sm-4">Hora de Cita</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.HoraCita)</dd>
                <dt class="col-sm-4">Fecha de Finalización</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaFinalizacionCita)</dd>
                <dt class="col-sm-4">Cliente</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdClienteNavigation.NombreCliente)</dd>
                <dt class="col-sm-4">Ficha Técnica</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdFichaTecnicaNavigation.IdFichaTecnica)</dd>
                <dt class="col-sm-4">Usuario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdUsuarioNavigation.NombreUsuario)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdCita" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
