@model Motorcycle.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoProducto)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FotoProducto != null && Model.FotoProducto.Length > 0)
            {
                var imageBase64 = Convert.ToBase64String(Model.FotoProducto);
                var imageUrl = $"data:image;base64,{imageBase64}";
                <img src="@imageUrl" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <text>No Image</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitarioProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitarioProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.NombreUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
